body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #2e8b57, #228b22);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 40px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: green;
    margin-bottom: 20px;
    font-weight: bold;
    animation: bounce 2s infinite;
}

h2 {
    color: forestgreen;
    margin-bottom: 20px;
    font-weight: bold;
    animation: bounce 2s infinite;
}

p {
    color: #333;
    font-size: 18px;
    margin-bottom: 30px;
    animation: bounce 1.5s infinite;
}

img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kp{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #f4d03f;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    animation: float 6s ease-in-out infinite;
    z-index: 1;    
}
.kp::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #f1c30f;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    top: 10px;
    left: 10px;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(-20px);

    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%{
        transform: translateY(-20);
    }
    60%{
        transform: translateY(-10px);
    }
}
@keyframes float {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-20px) rotate(10deg);
    }
}
